h1
{
  color: tomato;
  text-align: center;
}
body
{
  background-color: aquamarine;
}

.a
{
  background-color: gray;
}

.b
{
  background-color: paleturquoise;
}

.c
{
  background-color: lightcyan;
}

.d
{
  background-color: brown;
}